

<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <form [formGroup]="otpForm">
        <div class="mb-4">
          <i class="feather icon-unlock auth-icon"></i>
        </div>
         <h3 class="mb-4">Enter OTP</h3> 

          <div class="input-group mb-3">
            <input
              type="text"
              maxlength="6"
              class="form-control"
              placeholder="Enter 6 digits OTP"
              formControlName="otp"
              (keypress)="allowOnlyDigits($event)"
              (paste)="blockPaste($event)"
              [ngClass]="{
                'is-invalid': otpControl?.invalid && (otpControl?.touched || otpControl?.dirty),
                'is-valid': otpControl?.valid
              }"
            />
          </div>

          <!-- Validation Message -->
          <div
            *ngIf="otpControl?.invalid && (otpControl?.touched || otpControl?.dirty)"
            class="text-danger"
            style="font-size: 0.80rem; margin-top: -6px; margin-left: 3px;"
          >
            Please enter valid 6 digits OTP
          </div>


         <!-- <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter 6 digits OTP" maxlength="6" pattern="[0-9]*" [(ngModel)]="otp" />
         <div class="input-group mb-3">
          <input type="text" [(ngModel)]="otp" class="form-control" placeholder="Enter 6 digits OTP" maxlength="6" pattern="[0-9]*" [(ngModel)]="otp" />
        </div>

        <div class="text-danger mb-3" *ngIf="otpError">
          Please enter valid 6 digits OTP
        </div> -->
        <!--
        <div class="input-group mb-4">
          <input type="password" class="form-control" placeholder="Password" />
        </div> -->
        <!--  <div class="form-group text-start mb-4">
          <div class="checkbox checkbox-fill d-inline">
            <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="" />
            <label for="checkbox-fill-a1" class="cr">Save Details</label>
          </div> 
        </div> -->
        <button class="btn btn-primary mb-4" type="submit" (click)="verifyOtp()">Verify OTP</button>
 
        <!-- <p class="mb-2 text-muted">
          Forgot password?
          <a [routerLink]="['/auth/reset-password']">Reset</a>
        </p> -->
        <!-- <p class="mb-0 text-muted">
           Didn't receive the code?
          <a href="#" (click)="resendOtp()">Resend OTP</a> </p>-->
          <button class="btn btn-primary mb-4" (click)="resendOtp()" [disabled]="!isVerifyOtpButtonClicked">Resend OTP</button>
          </form>
      </div>
    </div>
  </div>
</div>


<!-- [disabled]="otp.length !== 6" -->


