<ul class="navbar-nav">
  <div class="nav-right-container d-flex align-items-center gap-3">
    
    <li class="nav-item dropdown">
      <select class="form-select language-select"
              (change)="changeLanguage($any($event.target).value)" 
              [(ngModel)]="selectedLang">
        <option *ngFor="let lang of languages" 
                [value]="lang.code" 
                [selected]="lang.code === selectedLang">
          {{ lang.label }}
        </option>
      </select>
    </li>

    <li class="nav-item dropdown">
      <div class="user-box d-flex align-items-center">
        <img [src]="profileImage" 
             (error)="profileImage = '/default-profile.png'" 
             alt="User" 
             class="user-avatar" />

        <span class="user-name ms-2 me-2">{{ userName }}</span>

        <label for="profileInput" class="profile-upload-label">
          <i class="bi bi-camera-fill"></i>
        </label>
        <input type="file"
               id="profileInput"
               class="d-none"
               (change)="onFileSelected($event)"
               accept="image/*" />

        <i class="logout-icon feather icon-log-out ms-2" (click)="openLogoutModal()"></i>
      </div>
    </li>

  </div>
  <app-pop-up *ngIf="showLogoutPopup"
              [title]="'Confirm Logout'"
              [message]="'Are you sure you want to logout?'"
              [ButtonText]="'Logout'"
              [show]="showLogoutPopup"
              (confirmDelete)="confirmLogout()"
              (cancelDelete)="cancelLogout()">
  </app-pop-up>
</ul>
