.mouse-pointer{
    cursor: pointer;
}

.dropdown-menu .dropdown-item {
    font-size: 100px;
    font-weight: 900;
    color: cadetblue;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

// change icon size inside dropdown
.dropdown-menu .dropdown-item i {
  font-size: 18px;
}

// nice hover effect
.dropdown-menu .dropdown-item:hover {
  background-color: #f1f1f1;
  font-weight: 700;
  color: #000;
}