.card{
    max-width: 50%;
}

.category-box {
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.category-box:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
  background-color: #f8f9fa;
}
