<h4 class="mb-4">Home services at your door step!</h4>

<div class="card p-4 shadow-sm">
  <h5 class="mb-4">What are you looking for?</h5>
  <div class="row g-3">

    @if (subCategories.length > 0) {
      @for (subCategory of subCategories; track subCategory.subCategoryId; let i = $index) {
        <div
          [ngClass]="{
            'col-12': i === subCategories.length - 1 && subCategories.length % 2 !== 0,
            'col-md-6': !(i === subCategories.length - 1 && subCategories.length % 2 !== 0)
          }"
          class="text-center"
        >
          <div class="border rounded p-3 h-100 category-box"
               (click)="getServicesFromSubCategoryId(subCategory.subCategoryId)">
            <img [src]="subCategory.imageName | imageurl | async"
                 width="50"
                 [alt]="subCategory.subCategoryName" />
            <p class="mt-2 mb-0">{{ subCategory.subCategoryName }}</p>
          </div>
        </div>
      }
    } @else {
      <div class="text-muted text-center">Loading Home categories...</div>
    }

  </div>
</div>

