<div class="row" *ngIf="patients">
  @if(isShowList) {
  <div class="col-xl-12">
    <!-- <div>
      <button type="button" (click)="isShowList = false;" class="btn btn-primary">Edit Patient</button>
    </div> -->

    <app-card cardTitle="Patient Data Table" [options]="false" blockClass="table-border-style">
      <div class="table-responsive">
        <table class="table table-striped">
          <app-datatable [tableHeaders]="tableHeaders" [tableData]="paginatedList" [actionButtons]="actionButtons"
            (actionClicked)="onTableAction($event)">
          </app-datatable>
        </table>
      </div>
      <!-- <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Patient ID</th>
              <th>Full Name</th>
              <th>DOB</th>
              <th>Gender</th>
              <th>Address</th>
              <th>Blood Group</th>
              <th>Emergency Contact</th>
              <th>Medical History</th>
              <th>Created By</th>
              <th>Created On</th>
              <th>Updated By</th>
              <th>Updated On</th>
              <th>Is Active</th>
              <th>Email</th>
              <th>Mobile Number</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of paginatedList">
              <td>{{ patient.patientId }}</td>
              <td>{{ patient.fullName }}</td>
              <td>{{ patient.dob | date:'yyyy-MM-dd' }}</td>
              <td>{{ patient.gender }}</td>
              <td>{{ patient.address }}</td>
              <td>{{ patient.blood_Group }}</td>
              <td>{{ patient.emergency_Contact }}</td>
              <td>{{ patient.medical_History }}</td>
              <td>{{ patient.createdBy }}</td>
              <td>{{ patient.createdOn | date:'yyyy-MM-dd HH:mm:ss' }}</td>
              <td>{{ patient.updatedBy }}</td>
              <td>{{ patient.updatedOn | date:'yyyy-MM-dd HH:mm:ss' }}</td>
              <td>{{ patient.isActive ? 'Yes' : 'No' }}</td>
              <td>{{ patient.email }}</td>
              <td>{{ patient.mobileNumber || 'N/A' }}</td>
              <td>
                <svg style="cursor: pointer;" (click)="editPatient(patient)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                  class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2">
                  <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z" />
                </svg>
                <svg style="cursor: pointer;" (click)="openDeleteModal(patient.userId)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <circle cx="12" cy="12" r="10" />
                  <line x1="15" x2="9" y1="9" y2="15" />
                  <line x1="9" x2="15" y1="9" y2="15" />
                </svg>


                <app-pop-up 
                *ngIf="showPopup"
                [message]="'Are you sure you want to delete this patient?'"
                [show]="showPopup"
                (confirmDelete)="confirmDelete()"
                (cancelDelete)="cancelDelete()">
              </app-pop-up>

              </td>
            </tr>
          </tbody>
        </table>
      </div> -->

      <app-pop-up *ngIf="showPopup" [message]="'Areyousureyouwanttodeletethis' | translate" [show]="showPopup"
        (confirmDelete)="confirmDelete()" (cancelDelete)="cancelDelete()">
      </app-pop-up>

      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" href="javascript:void(0)" (click)="nextpage(currentPage - 1)">{{'Previous' |
              translate}}</a>
          </li>

          <li class="page-item" *ngFor="let page of pageNumbers">
            <a class="page-link" href="javascript:void(0)" (click)="nextpage(page)"
              [class.active]="currentPage === page">{{ page }}</a>
          </li>

          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" href="javascript:void(0)" (click)="nextpage(currentPage + 1)">{{'Next' |
              translate}}</a>
          </li>
        </ul>
      </nav>
    </app-card>
  </div>
  } @if(!isShowList) {
  <div class="col-sm-12">
    <app-card cardTitle="Update Patient Details" [options]="false">
      <h5>{{'PatientForm' | translate}}</h5>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <form [formGroup]="patientFormGroup">

            <!-- Patient Name Dropdown -->
            <!-- <div class="form-group">
                <label for="patientName">Patient Name</label>
                <select formControlName="patientName" class="form-control">
                  <option *ngFor="let patient of patientlist" [value]="patient.value">
                    {{ patient.name }}
                  </option>
                </select>
              </div> -->

            <div class="form-group">
              <label for="fullName">{{'FullName' | translate}}</label>
              <input type="text" formControlName="fullName" class="form-control" />
            </div>

            <div class="form-group">
              <label for="email">{{'Email' | translate}}</label>
              <input type="email" formControlName="email" class="form-control" />
            </div>

            <!-- <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" />
              </div> -->

            <!-- <div class="form-group">
                <label for="mobilNumber">Mobile Number</label>
                <input type="text" formControlName="mobileNumber" class="form-control" />
              </div> -->
            <div class="form-group">
              <label for="mobileNumber">{{'MobileNumber' | translate}}</label>
              <input type="text" formControlName="mobileNumber" class="form-control" maxlength="10" pattern="[0-9]*"
                inputmode="numeric" />

              <div class="text-danger mt-1" *ngIf="checkValidation('mobileNumber') as error">
                {{ error }}
              </div>
            </div>

            <div class="form-group">
              <label for="dob">{{'DOB' | translate}}</label>
              <input type="date" formControlName="dob" class="form-control" />
            </div>

            <div class="form-group">
              <label for="gender">{{'Gender' | translate}}</label><br />
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="gender" value="M" />
                <label class="form-check-label">{{'Male' | translate}}</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="gender" value="F" />
                <label class="form-check-label">{{'Female' | translate}}</label>
              </div>
            </div>

            <div class="form-group">
              <label for="blood_Group">{{'BloodGroup' | translate}}</label>
              <select formControlName="blood_Group" class="form-control">
                <option *ngFor="let group of bloodGroups" [value]="group">{{ group }}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="emergency_Contact">{{'EmergencyContact' | translate}}</label>
              <input type="text" formControlName="emergency_Contact" class="form-control" />
            </div>

            <div class="form-group">
              <label for="medical_History">{{'MedicalHistory' | translate}}</label>
              <input type="text" formControlName="medical_History" class="form-control" />
            </div>

            <div class="form-group">
              <label for="address">{{'Address' | translate}}</label>
              <textarea formControlName="address" class="form-control" rows="3"></textarea>
            </div>

            <div class="mt-3">
              <button *ngIf="selectedPatientId" type="button" class="btn btn-success"
                (click)="updatePatient()">{{'Update' | translate}}</button>
            </div>

          </form>
        </div>
      </div>

    </app-card>
  </div>


  }
</div>