<ul class="navbar-nav">
  <!-- <li>
    <a href="javascript:" class="full-screen" (click)="toggleFullscreen()">
      <i class="feather" [ngClass]="screenFull ? 'icon-minimize' : 'icon-maximize'"></i>
    </a>
  </li> -->
  @for (category of categories; track category.categoryId) {
  <li class="nav-item">
    <a class="nav-link px-3 text-uppercase fw-medium"
       [ngClass]="{ 'active': activeItem === category }"
       style="transition: color 0.2s ease-in-out; cursor: pointer;"
       (click)="navigateToSubCategory(category.categoryId)">
      {{ category.categoryName }}
    </a>
  </li>
}

 
<!-- location Search -->
 <!-- <li>
    <div class="input-group">
      <input type="text" (keyup)="getRegionBySearch($event)" [(ngModel)]="searchText" id="m-search" placeholder="Search Region . . ."
        class="form-control" style="width: 100%;">
      <span role="none">
      </span>
    </div>

    <ul class="list-group" *ngIf="searchResult.length > 0"
      style="position: absolute; top: 100%; left: 0; z-index: 999; background: white; border: 1px solid #ccc; width: 100%; max-height: 400px; overflow-y: auto;">

      @for (region of searchResult; track region.id) {
      <li class="list-group-item" style="cursor: pointer;"
        (click)="selectedRegion(region)" >
        <strong>{{ region.name }}</strong><br/>  <em>{{ region.parent }}</em>
      </li>
      }
    </ul>
  </li> -->

 <!-- <li class="nav-item show-items" ngbDropdown placement="auto">
    <a href="javascript:" ngbDropdownToggle>Dropdown</a>
    <ul ngbDropdownMenu>
      <li><a href="javascript:" ngbDropdownItem>Action</a></li>
      <li><a href="javascript:" ngbDropdownItem>Another action</a></li>
      <li>
        <a href="javascript:" ngbDropdownItem>Something else here</a>
      </li>
    </ul>
  </li> -->
  <li class="nav-item">
    <app-nav-search />
  </li>
</ul>
